.sessaoEditProduto {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5rem;
}

.formEditarProduto {
    background-color: transparent;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border: 1px solid #000000;
    padding: 2rem;
    border-radius: 10px;
}

.areaEditarProduto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.areaEditarProduto input[type="text"] {
    width: 200px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    padding: 10px;
}

.areaEditarProduto input[type="text"]:focus {
    outline: none;
}

.formEditarProduto input[type="submit"] {
    margin-top: 3rem;
    width: 150px;
    height: 30px;
}
