.bodyLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #FFDEE5, #FFDFB0, #FFDEAE, #FFD9A3);
    position: relative;
}

.areaLogin{
    display: flex;
    width: 100%;
    height: 400px;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}
.areaLogin h1{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation: mecher 5s ease infinite;
}

.areaLogin h1 span{
    font-weight: 400;
}

@keyframes mecher {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(-2deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.areaLogin h1 img{
    width: 35px;
}

.areaLogin h2{
    font-size: 60px ;
}

.areaLogin .loginWelcome{
    width: 250px;
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #444444;
    font-weight: 400;
}

.formLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue;   */
    width: 60vw;
    height: 80vh;
    gap: 1rem;
}
.areaInput{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    padding: 7px;
    border: none;
    background-color: white;
    gap: 10px;
}
.areaInput i{
    bottom: 20px;
    color: #444444;
    font-size: 22px;
}

.formLogin input[type="email"], .formLogin input[type="password"]{
    border: none;
    background-color: transparent;
    /* background-color: #FF7A00; */
    color: #989898;
    font-weight: 500;
    width: 80%;
}   

.formLogin input[type="email"], .formLogin input[type="password"]:focus{
    border: none;
    outline: none;
}

.formLogin input[type="submit"]{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.loginInfo{
    display: unset;
    width: unset;
    height: unset;
    white-space: nowrap;
    color: #444444;
    font-weight: 600;
}

.loginInfo a{
    color: #FF7703;
    text-decoration: none;
}